openapi: 3.0.3
info:
  title: Finance accounts payout API
  description: 'The Finance API is used to fetch finance-related information that is processed through Zettle. The information includes account balance, all the transactions processed through Zettle, and payout.

    '
  version: '2.0'
servers:
- url: https://finance.izettle.com/v2
  description: Production
tags:
- name: payout
paths:
  /payout-info:
    get:
      tags:
      - payout
      operationId: getPayoutInfo
      summary: Get payout info
      description: 'Returns payout related information from a merchant''s liquid account.

        '
      parameters:
      - name: at
        in: query
        description: 'Used to fetch payouts at a certain point in time. The time is specified in UTC.

          '
        required: false
        schema:
          type: string
          format: YYYY-MM-DDThh:mm:ss
          example: '2022-03-01T12:42:10'
          default: NOW()
      responses:
        '200':
          description: Returns when the operation is successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalBalance:
                    type: integer
                    description: 'The account balance in the currency''s smallest unit.

                      '
                    example: 300
                  currencyId:
                    description: The currency of the account. For example, GBP.
                    type: string
                    example: GBP
                  nextPayoutAmount:
                    description: 'The amount of money to be paid out to the merchant in the currency''s smallest unit.

                      '
                    type: integer
                    example: 2000
                  discountRemaining:
                    description: 'The amount of discounts that remain in merchant''s vouchers in the currency''s smallest unit.

                      '
                    type: integer
                    example: 9800
                  periodicity:
                    description: 'The period between each payout that is set by the merchant. It can be DAILY, WEEKLY or MONTHLY.

                      '
                    type: string
                    example: DAILY
        '400':
          description: Returns when a required parameter is missing or in a wrong format in the request.
        '401':
          description: "Returns when one of the following occurs:\n  - The authentication information is missing in the request.\n  - The authentication token has expired.\n  - The authentication token is invalid.\n"
        '403':
          description: Returns when the scope being used in the request is incorrect.
      security:
      - ZettleOauth:
        - READ:FINANCE
components:
  securitySchemes:
    ZettleOauth:
      type: oauth2
      description: For more information, see the [OAuth API documentation](https://developer.zettle.com/docs/api/oauth/overview).
      flows:
        authorizationCode:
          authorizationUrl: https://oauth.zettle.com/authorize
          tokenUrl: https://oauth.zettle.com/token
          scopes:
            READ:FINANCE: Access to read finance data
